<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/x-icon" href="/assets/img/logo.png" />  
        <title>Prediction League</title> 
        <!-- CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script
            src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
            crossorigin="anonymous"
        ></script>
        <!--
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Rose">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lemonada">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Acme">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito">
		-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>
    <body id="myPage">