<%- include ('partials/header.ejs') %> <%- include ('partials/headerNavShort.ejs') %>
<div class="main-content">
    <div class="container-fluid h-100">
        <div class="card-deck h-100">
            <div
                class="card bg-dark my-3 shadow-lg d-flex align-items-center justify-content-center"
            >
                <div class="card-body text-center text-white col-sm-8">
                    <h4 class="card-title">
                        <a href="#" class="text-white">How to Play</a>
                        <hr />
                    </h4>
                    <div id="aboutus" class="bg-dark text-white text-justify">
                        <p>
                            We are passionate about sports. This is a game of skill, not a game of
                            luck.
                        </p>
                        <p>
                            We are not a fantasy league site but we for the sports enthusiast who
                            doesn't have time to get into each and every detail of the match.
                        </p>
                        <p>
                            This could be also enjoyed by everyone at our home including our
                            homemakers(pyaari maa, biwi, sister), grandmother, brother, cousins and
                            grandfather during this lockdown.
                        </p>
                        <p>
                            You can take an average of everyone's prediction at your home and
                            predict the score. You can make it a family entertainment.
                        </p>
                        <p>
                            It all about the family bond during this pandemic.
                        </p>
                        <p>
                            Ultimately it is the India ka tyauhaar and asli mazaa toh sabke saath
                            ataa hai.
                        </p>
                        <p>
                            Key Features
                            <br />
                            <u>Rule 1.</u><em> Stage 1</em> - Toss Winner
                            <br />
                            <u>Rule 2.</u><em> Stage 2</em> - Match Winner
                            <br />
                            <u>Rule 3.</u><em> Stage 2</em> - Man of the Match
                            <br />
                            <u>Rule 4.</u><em> Stage 3</em> - 1st Innings Score
                            <br />
                            <u>Rule 5.</u><em> Stage 3</em> - 1st Innings Wicket
                            <br />
                        </p>
                        <p>
                            All the prediction has a cutoff time based on the stages specified
                            above.
                        </p>
                        <p>
                            <strong>for e.g. </strong>
                            <br />
                            <u>Stage 1</u> - The match starts at 07:30PM IST the toss would happen
                            at 07:00 PM IST so the prediction for Rule 1 should happen before that
                            (30 mins before the match commences).
                            <br />
                            <u>Stage 2</u> - The prediction for Rule 2 and Rule 3 should happen
                            before 07:30 PM IST (at the time when the match starts).
                            <br />
                            <u>Stage 3</u> - The prediction for Rule 4 and Rule 5 should happen
                            before 08:30 PM IST (an hour after the match starts).
                            <br />
                            Any non-prediction will result in a negative score.
                        </p>
                        <p>
                            The points could be found on the Rules page.
                        </p>
                        <p>
                            Your ranking could be seen on the leader-board for each and every group
                            that you are part of. By default, you are part of the global.
                            <br />
                            This website is intended to have fun within the group. We are not
                            entitled to any conflicts and our team's decision would be final.
                            <br />We hope you enjoy our efforts.
                        </p>
                        <p>
                            You can create your own League and ask your friends to join the league
                            using the League Name. The League will be effective from the day it has
                            been created and all the participants will start from 0 points. The
                            other League that the participant is part of is not affected. This is
                            just to facilitate a new participant and give them a fair chance to
                            compete.
                        </p>
                        <p>
                            <u> Tip </u> - You can predict for the future matches so that you don't
                            get negative points. Before the cutoff time you can again predicate only
                            the latest entry (before the cutoff time) would be considered.
                        </p>
                        <p>
                            It is all about how precise is your prediction -
                            <i>
                                <u>
                                    Prediction League Team
                                </u>
                            </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>